

    /* ------------------------------------------------------
        1.1. Fonts
    ------------------------------------------------------ */

	
	
	
	@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

	body {
			font-family: 'Noto Sans', sans-serif;
			letter-spacing: 0px;
			font-weight:100;
			background-color:white;
			font-size:0.9em;
			text-align: justify;
			width: 100%;
		}

	h1{
		font-family: 'Frank Ruhl Libre', serif;
	}

	h2{
		font-family: 'Frank Ruhl Libre', serif;
		font-weight:300;
	}
		


		
	





	
	
    

	
		

	

	


